<div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.id}}.png" alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <p class="subtitle is-6" [routerLink]="pokemon.name">{{pokemon.name}}</p>
            </div>
        </div>
    </div>
    <footer class="card-footer">
        <a href="#" class="card-footer-item">
            <span class="icon">
                <i class="material-icons">star_border</i>
            </span>
        </a>
        <a href="#" class="card-footer-item">
            <span class="icon">
                <i class="material-icons">
                    catching_pokemon
                </i>
            </span>
        </a>
      </footer>
</div>

