<div class="columns">
    <div class="column">
        <app-search-input class="mr-1" (onSearch)="search($event)"></app-search-input>        
    </div>
    <div class="column has-text-right">
        <button class="button mr-1 my-wishlist-button" [ngClass]="{'is-active': isFavoriteFilterActive}" (click)="isFavoriteFilterActive = !isFavoriteFilterActive">My Wishlist</button>
        <button class="button my-pokemon-button" [ngClass]="{'is-active': isCaughtFilterActive}" (click)="isCaughtFilterActive = !isCaughtFilterActive">My Pokemon</button>
    </div>
</div>

<div *ngIf="(data$ | async) as data; else loadingPokemon" class="columns is-multiline pokemon-cards">
    <app-teaser *ngFor="let pokemon of data | slice:0:pagination.offset | filter: {'name': pagination.search, 'favorited': isFavoriteFilterActive, 'caught': isCaughtFilterActive}" class="column is-one-quarter" [pokemon]="pokemon"></app-teaser>
</div>

<div class="columns">
    <div class="column">
        <small>Showing {{pagination.count}} of {{pagination.total}} pokemon</small>
    </div>
    <div class="column has-text-right">
        <button class="button load-more-button" (click)="loadMore()">Load more</button>
    </div>
</div>

<ng-template #loadingPokemon>
    Pokemon are loading...
</ng-template>
