<div class="columns">
    <div class="column has-text-right">
        <app-search-input class="mr-1" (onSearch)="search($event)"></app-search-input>        
        <button class="button mr-1">My Wishlist</button>
        <button class="button">My Pokemon</button>
    </div>
</div>

<div *ngIf="(data$ | async) as data; else loadingPokemon" class="columns is-multiline">
    <app-teaser *ngFor="let pokemon of data | slice:0:pagination.offset | filter: {'name': pagination.search}" class="column is-one-quarter" [pokemon]="pokemon"></app-teaser>
</div>

<div class="columns">
    <div class="column has-text-right">
        <button class="button" (click)="loadMore()">Load more</button>
    </div>
</div>

<ng-template #loadingPokemon>
    Pokemon are loading...
</ng-template>
