@import 'https://fonts.googleapis.com/icon?family=Material+Icons'
@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css'

:root 
    --blue: #2a75bb
    --yellow: #ffcb05
    --red: #CC0000

.button
    &:not(.icon-button)
        color: var(--yellow)
        background-color: var(--blue)    
        font-weight: bold
    &.is-active
        border: 2px solid var(--yellow)

.panel
    border: 3px solid var(--blue)
    .panel-heading
        background-color: var(--blue)
        color: var(--yellow)
        border-top-left-radius: 0
        border-top-right-radius: 0    

[routerLink]
    cursor: pointer        